* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  background-color: lightgreen;
  border: 1px solid black;
}

.row {
  display: flex;
  flex-wrap: wrap;

  .col {
    flex: 1;
  }

  @for $size from 1 through 12 {
    .col-#{$size} {
      width: calc($size / 12 * 100%);
    }
  }
}

@mixin grid-system($device) {
    .row {
    .col-#{$device} {
      flex: 1;
    }

    @for $size from 1 through 12 {
      .col-#{$device}-#{$size} {
        width: calc($size / 12 * 100%);
      }
    }
  }
}

// tablet
@media (min-width: 768px) {
  @include grid-system('tablet');
}

// desktop
@media (min-width: 1200px) {
  @include grid-system('desktop');
}
